body{
    background-color: #000;
}

p{
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: RGB(135, 19, 40);
}

.close:hover{
    cursor: pointer;
}

.button{
    border: 2px solid #bad4ed;
    border-radius: 5px;
}

@keyframes pulse{
    from{
        box-shadow: 
            0 0 25px #fff,
            0 0 50px #bad4ed,
            0 0 75px #b0d5f8;
    }
}

.button:focus{
    animation:
        pulse 0.5s ease-in-out;
}

.login-button{
    transition-property: width, height, border-radius;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.login-button:focus{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

input{
    background-color: transparent;
    border-radius: 5px;
}

.circle{
    animation: rotate 5s linear infinite;
}

.circle-inner{
    animation: rotate-inverse 2.5s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate-inverse {
    0%{
        transform: rotate(-360deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.typing-text{
    color: RGB(135, 19, 40);
    max-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid RGB(135, 19, 40);
    display: inline-block;
    animation: typing 2s steps(40, end) infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.switch{
    cursor: pointer;
}