body{
    background-color: #000;
}

a {
    text-decoration: none;
    color: RGB(135, 19, 40);
}

.close:hover{
    cursor: pointer;
}

.button{
    border: 2px solid #bad4ed;
    border-radius: 5px;
}

@keyframes pulse{
    from{
        box-shadow: 
            0 0 25px #fff,
            0 0 50px #bad4ed,
            0 0 75px #b0d5f8;
    }
}

.button:focus{
    animation:
        pulse 0.5s ease-in-out;
}